//COLORS
$primary: #e7b3a3;
$dark-grey: #363636;
$light-grey: #d8d8d8;


:root {
  --primary: #555bffc2;
  --secondary: #22d2a0c7;
  --background: white;
  --green: #1ec11b8c;
  --yellow: #fdaf0794;
  --orange: #ff9c55bd;
  --red: #ff5555cb;
} 